{% include 'adminpage/sidebardemo.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="span3">
                    	<div class="span3">
				</div><!--/.span3-->

     <div class="container-fluid pt-4 px-4">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Manage Sub-Category</h6>
                            <table class="table table-striped">
                                <thead>
                                    <tr style="color: black;">
                                        <th scope="col">ID</th>
                                        <th scope="col">Sub-Category Name</th>
                                        <th scope="col">Category Name</th>
                                        <th scope="col">Edit Category</th>
                                        <th scope="col">Delete Category</th>
                                    </tr>
                                </thead>
                                {% for i in all %}
                                <tbody>
                                    <tr style="color: black;">
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>{{i.s_name}}</td>
                                        <td>{{i.catid.c_name}}</td>
                                        <td><a href="edit_subcategory/{{i.id}}" class="btn btn-primary px-4" style="background-color: rgb(93, 76, 192); border: none; border-radius: 20px;">Edit</a>
                                        </td>
                                        <td><a href="delete_subcategory/{{i.id}}" class="btn btn-primary px-3" style="background-color: rgb(190, 68, 68); border: none; border-radius: 20px;">Delete</a>
                                        </td>
                                    </tr>                        
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
	